<!DOCTYPE html>
<html>
  <head>
    <title><%= "Submit a banner - Murrtube" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <meta property="og:site_name" content="Murrtube"/>
    <meta property="og:title" content="Submit a banner - Murrtube">
    <meta property="og:description" content="Murrtube, your one place for furry porn, murrsuit porn, pup porn, kinky porn... Just a whole bunch of fun porn :3">
    <meta property="og:image" content=<%= asset_url('logo256.png') %>>
    <meta property="og:image:secure_url" content=<%= asset_url('logo256.png') %>>
    <meta property="twitter:site" content="Murrtube" />
    <meta property="twitter:title" content="Submit a banner - Murrtube">
    <meta property="twitter:description" content="Murrtube, your one place for furry porn, murrsuit porn, pup porn, kinky porn... Just a whole bunch of fun porn :3">
    <meta property="twitter:image" content=<%= asset_url('logo256.png') %>>

    <link rel="icon" type="image/png" href=<%= asset_url('favicon-96x96.png') %> sizes="32x32">
    <link rel="apple-touch-icon" sizes="57x57" href=<%= asset_url('apple-icon-57x57.png') %>>
    <link rel="apple-touch-icon" sizes="60x60" href=<%= asset_url('apple-icon-60x60.png') %>>
    <link rel="apple-touch-icon" sizes="72x72" href=<%= asset_url('apple-icon-72x72.png') %>>
    <link rel="apple-touch-icon" sizes="76x76" href=<%= asset_url('apple-icon-76x76.png') %>>
    <link rel="apple-touch-icon" sizes="114x114" href=<%= asset_url('apple-icon-114x114.png') %>>
    <link rel="apple-touch-icon" sizes="120x120" href=<%= asset_url('apple-icon-120x120.png') %>>
    <link rel="apple-touch-icon" sizes="144x144" href=<%= asset_url('apple-icon-144x144.png') %>>
    <link rel="apple-touch-icon" sizes="152x152" href=<%= asset_url('apple-icon-152x152.png') %>>
    <link rel="apple-touch-icon" sizes="180x180" href=<%= asset_url('apple-icon-180x180.png') %>>
    <link rel="icon" type="image/png" sizes="192x192"  href=<%= asset_url('android-icon-192x192.png') %>>
    <link rel="icon" type="image/png" sizes="32x32" href=<%= asset_url('favicon-32x32.png') %>>
    <link rel="icon" type="image/png" sizes="96x96" href=<%= asset_url('favicon-96x96.png') %>>
    <link rel="icon" type="image/png" sizes="16x16" href=<%= asset_url('favicon-16x16.png') %>>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://jenil.github.io/bulmaswatch/cyborg/bulmaswatch.min.css" rel="stylesheet" />


    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash_message' %>
    <main class="container p-4 mx-auto">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
